#include "windows.h"
#include "basstest.h"

1000 DIALOG DISCARDABLE  100, 100, 350, 108
STYLE WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "BASS - Simple Test"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Stream",-1,5,0,110,85
    LISTBOX         ID_STRLIST,10,10,100,35,LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Play",ID_STRPLAY,10,50,30,12
    PUSHBUTTON      "Stop",ID_STRSTOP,45,50,30,12
    PUSHBUTTON      "Restart",ID_STRRESTART,80,50,30,12
    PUSHBUTTON      "Add ...",ID_STRADD,10,65,48,16
    PUSHBUTTON      "Remove",ID_STRREMOVE,62,65,48,16
    GROUPBOX        "Music",-1,120,0,110,85
    LISTBOX         ID_MODLIST,125,10,100,35,LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Play",ID_MODPLAY,125,50,30,12
    PUSHBUTTON      "Stop",ID_MODSTOP,160,50,30,12
    PUSHBUTTON      "Restart",ID_MODRESTART,195,50,30,12
    PUSHBUTTON      "Add ...",ID_MODADD,125,65,48,16
    PUSHBUTTON      "Remove",ID_MODREMOVE,177,65,48,16
    GROUPBOX        "Sample",-1,235,0,110,85
    LISTBOX         ID_SAMLIST,240,10,100,35,LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Play",ID_SAMPLAY,240,50,100,12
    PUSHBUTTON      "Add ...",ID_SAMADD,240,65,48,16
    PUSHBUTTON      "Remove",ID_SAMREMOVE,292,65,48,16
    PUSHBUTTON      "Stop Everything",ID_STOP,60,90,70,14
    PUSHBUTTON      "Resume",ID_RESUME,135,90,60,14
    LTEXT           "CPU%",-1,290,93,25,8
    LTEXT           "",ID_CPU,315,93,30,8
END
